.env
.venv
venv
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.db
alembic/versions/*.pyc
alembic/README
.alembic/
.kilo
.pytest_cache
.alembic/
./celery-test/mimio_data/
./celery-test/__pycache__
.kilo/
.kilo
.pytest_cache/
.pytest_cache
.clinerules
.i
